<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reservar habitación</title>
</head>
<body>
    <h1>Reservar habitación</h1>
    <form method="POST" action="{% url 'habitaciones' %}">
        {% csrf_token %}
        <label for="habitacion">Tipo de habitación:</label>
        <select name="habitacion">
            <option value="sencilla">Habitación sencilla ($50)</option>
            <option value="doble">Habitación doble ($40)</option>
            <option value="suite">Habitación Suite ($60)</option>
        </select><br>
        <label for="huespedes">Capacidad de huéspedes por tipo de habitación:</label><br>
        <label for="huespedes">Habitación sencilla: 2 huéspedes máximo</label><br>
        <label for="huespedes">Habitación doble: 4 huéspedes máximo</label><br>
        <label for="huespedes">Habitación suite: 6 huéspedes máximo</label><br>
        <input type="submit" value="Continuar"><br>


    </form>
</body>
</html>
