<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Habitacion suite</title>
</head>
<body>
    <h1>Reservar habitacion suite($60 por noche)</h1>
    <form method="POST" action="{% url 'reserva_suite' %}">
        {% csrf_token %}
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre"><br>
        <label for="celular">Celular:</label>
        <input type="number" name="celular"><br>
        <label for="email">Email:</label>
        <input type="email" name="email"><br>
        <label for="huespedes">Capacidad de huéspedes: 6 máximo</label><br>
         <input type="number" name="huespedes"><br>
        <label for="noches">Número de noches:</label>
        <input type="number" name="noches"><br>
        <input type="submit" value="Reservar">
        <input type="reset" value="Limpiar">
        <a href="{% url 'index' %}" class="button">Regresar</a>
    </form>
</body>
</html>